<link rel="stylesheet" href="stylesheets/adopciones.css">
<main class="holder">
    <div class="container-2">
        <div class="imagen">
            <img src="images/adopciones/img.jpg" height="460px" alt="">
        </div>
        <div class="texto">
            <h1>¡Adopta un amigo!</h1>
            <p>Desde hace más de 5 años contamos con el servicio de rescates y adopciones. Hay muchos animales que
                están en la calle o fueron abandonados. Todos los días nuestros equipos de rescate visitan
                diferentes barrios en busca de peludos para darles una segunda oportunidad y mostrarles que en este
                mundo hay mucho amor para darles.
            </p>
            <h3>Beneficios de adoptar</h3>
            <ul class="contenedor">
                <i class="fas fa-paw"></i>
                <li>Adoptar es una manera de combatir el maltrato animal.</li>
                <i class="fas fa-paw"></i>
                <li>Ayudas a que disminuyan las cifras de abandono de las mascotas.</li>
                <i class="fas fa-paw"></i>
                <li>Liberas un espacio en el refugio para que otros animales puedan recibir ayuda.</li>
                <i class="fas fa-paw"></i>
                <li>Le ofreces mejores condiciones de vida.</li>
            </ul>
        </div>

    </div>

    <div class="adopcion">
        <h2>Estas fantásticas mascotas están esperando a que las adoptes</h2>

        <div class="adopcion">

            <div class="adopt">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Rufus</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>2 meses</li>
                                    <li>Cría de Sezen</li>
                                </ul>
                                <img src="images/adopciones/perro (1).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Olivia</h4>
                                <ul>
                                    <li><i class="fas fa-venus"></i></li>
                                    <li>7 meses</li>
                                    <li>Cría </li>
                                </ul>
                                <img src="images/adopciones/perro (2).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Lila</h4>
                                <ul>
                                    <li><i class="fas fa-venus"></i></li>
                                    <li>3 años</li>
                                    <li>Víctima de carreras</li>
                                </ul>
                                <img src="images/adopciones/perro (3).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Amadeo</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>1 año</li>
                                    <li>Abandonado</li>
                                </ul>
                                <img src="images/adopciones/perro (4).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Sezen</h4>
                                <ul>
                                    <li><i class="fas fa-venus"></i></li>
                                    <li>1 año </li>
                                    <li>Rescatada</li>
                                </ul>
                                <img src="images/adopciones/perro (5).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Chimuelo</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>2 meses</li>
                                    <li>Cría de Sezen</li>
                                </ul>
                                <img src="images/adopciones/perro (6).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Tommy</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>2 años</li>
                                    <li>Rescatado</li>
                                </ul>
                                <img src="images/adopciones/gato (1).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Leila</h4>
                                <ul>
                                    <li><i class="fas fa-venus"></i></li>
                                    <li>1 año</li>
                                    <li>Abandonada</li>
                                </ul>
                                <img src="images/adopciones/gato (2).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Ágatha</h4>
                                <ul>
                                    <li><i class="fas fa-venus"></i></li>
                                    <li>4 años</li>
                                    <li>Abandonada</li>
                                </ul>
                                <img src="images/adopciones/gato (3).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Morita</h4>
                                <ul>
                                    <li><i class="fas fa-venus"></i></li>
                                    <li>3 meses</li>
                                    <li>Cría de Leila</li>
                                </ul>
                                <img src="images/adopciones/gato (4).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Vity</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>2 años </li>
                                    <li>Rescatado</li>
                                </ul>
                                <img src="images/adopciones/gato (5).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Luz, Copito y Thia</h4>
                                <ul>
                                    <li><i class="fas fa-venus"></i><i class="fas fa-mars"></i></li>
                                    <li>2 meses</li>
                                    <li>Crías de Ágatha</li>
                                </ul>
                                <img src="images/adopciones/gato (6).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Dama </h4>
                                <ul>
                                    <li><i class="fas fa-venus"></i></li>
                                    <li>2 meses</li>
                                    <li>Cría</li>
                                </ul>
                                <img src="images/adopciones/exotico (1).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Pongo y Lassie</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i><i class="fas fa-venus"></i></li>
                                    <li>5 meses</li>
                                    <li>Crías </li>
                                </ul>
                                <img src="images/adopciones/exotico (2).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Laika</h4>
                                <ul>
                                    <li><i class="fas fa-venus"></i></li>
                                    <li>6 meses</li>
                                    <li>Cría</li>
                                </ul>
                                <img src="images/adopciones/exotico (3).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Hachiko</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>1 año</li>
                                    <li>Cría</li>
                                </ul>
                                <img src="images/adopciones/exotico (4).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Toribio</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>2 años </li>
                                    <li>Cría</li>
                                </ul>
                                <img src="images/adopciones/exotico (5).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Rex</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>1 año</li>
                                    <li>Dado en adopción</li>
                                </ul>
                                <img src="images/adopciones/exotico (6).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Nemo </h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>3 meses</li>
                                    <li>Cría</li>
                                </ul>
                                <img src="images/adopciones/otros (1).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Perla</h4>
                                <ul>
                                    <li><i class="fas fa-venus"></i></li>
                                    <li>6 meses</li>
                                    <li>Cría</li>
                                </ul>
                                <img src="images/adopciones/otros (2).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Blue</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>4 meses</li>
                                    <li>Cría</li>
                                </ul>
                                <img src="images/adopciones/otros (3).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Astro</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>2 meses</li>
                                    <li>Cría</li>
                                </ul>
                                <img src="images/adopciones/otros (4).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>León</h4>
                                <ul>
                                    <li><i class="fas fa-mars"></i></li>
                                    <li>5 meses </li>
                                    <li>Cría</li>
                                </ul>
                                <img src="images/adopciones/otros (5).jpg" alt="">
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="box" data-aos="zoom-in">
                                <h4>Lola</h4>
                                <ul>
                                    <li><i class="fas fa-venus"></i></li>
                                    <li>1 año</li>
                                    <li>Cría</li>
                                </ul>
                                <img src="images/adopciones/otros (6).jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="boton">
                    <button type="button" class="adopcion-boton" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Adoptanos ❤ </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">

                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Formulario de adopción</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-12">
                                        <label for="inputcuestion" class="atencion">¡ATENCIÓN! Completar todos los
                                            campos o su formulario no sera tomado en cuenta.</label>
                                        <form class="row g-3" action="/adopciones" method="post" >
                                            <div class="col-md-6">
                                                <label for="inputName4" class="form-label">Nombre</label>
                                                <input type="text" class="form-control" id="inputName4" name="nombre"
                                                    required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputLastname4" class="form-label">Apellido</label>
                                                <input type="text" class="form-control" id="inputLastname4"
                                                    name="apellido" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="inputEmail4" name="email"
                                                    required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputCelular4" class="form-label">Celular</label>
                                                <input type="text" class="form-control" id="inputCelular4"
                                                    name="celular" required>
                                            </div>
                                            <div class="col-6">
                                                <label for="inputAddress" class="form-label">Dirección</label>
                                                <input type="text" class="form-control" id="inputAddress"
                                                    placeholder="Main St 1234" name="direccion" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputCity" class="form-label">Ciudad </label>
                                                <input type="text" class="form-control" id="inputCity" name="ciudad"
                                                    required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputBarrio" class="form-label">Barrio </label>
                                                <input type="text" class="form-control" id="inputBarrio" name="barrio"
                                                    required>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="inputZip" class="form-label">Código postal</label>
                                                <input type="text" class="form-control" id="inputZip" name="cp"
                                                    required>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="inputcuestion" class="form-label">¿En que tipo de vivienda
                                                    vivis?</label>
                                                <select id="inputState" class="form-select" name="vivienda">
                                                    <option selected>Selecciona...</option>
                                                    <option>Departamento</option>
                                                    <option>Casa</option>
                                                    <option>Piso</option>
                                                    <option>Otro</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputcuestion" class="form-label">¿Tenes mascotas?</label>
                                                <select id="inputState" class="form-select" name="mascotas">
                                                    <option selected>Selecciona...</option>
                                                    <option>0</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5+</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputcuestion" class="form-label">¿Quién va a ser tu próximo
                                                    compañero?</label>
                                                <select id="inputState" class="form-select" name="adopcion">
                                                    <option selected>Selecciona...</option>
                                                    <option>Rufus</option>
                                                    <option>Olivia</option>
                                                    <option>Lila</option>
                                                    <option>Amadeo</option>
                                                    <option>Sezen</option>
                                                    <option>Chimuelo</option>
                                                    <option>Tommy</option>
                                                    <option>Leila</option>
                                                    <option>Ágatha</option>
                                                    <option>Morita</option>
                                                    <option>Vity</option>
                                                    <option>Luz</option>
                                                    <option>Copito</option>
                                                    <option>Thia</option>
                                                    <option>Dama</option>
                                                    <option>Pongo</option>
                                                    <option>Lassie</option>
                                                    <option>Laika</option>
                                                    <option>Hachiko</option>
                                                    <option>Toribio</option>
                                                    <option>Rex</option>
                                                    <option>Nemo</option>
                                                    <option>Perla</option>
                                                    <option>Blue</option>
                                                    <option>Astro</option>
                                                    <option>León</option>
                                                    <option>Lola</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">¿Queres contarnos algo
                                                    más?</label>
                                                <textarea class="form-control" id="message-text"
                                                    name="comentario"></textarea>
                                            </div>

                                            <div class="col-md-12">
                                                <label for="inputcuestion" class="form-label">¡Felicidades! Terminaste
                                                    la primer etapa de la adopción. Estas a un paso de tener un nuevo
                                                    compañero en tu vida. En caso de pasar a la siguiente ronda, vamos a
                                                    pedirte por mail información más detallada sobre tu vivienda y los
                                                    ingresos que tenes. Esa información es necesaria para corroborar que
                                                    la mascota va a estar en perfectas condiciones. En caso de aceptar
                                                    que te hagamos este tipo de preguntas mas especificas, por favor
                                                    aceptar los términos y condiciones. Muchas gracias!</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        Acepto los terminos y condiciones.
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Enviar formulario</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</main>


<script> </script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>