<link rel="stylesheet" href="stylesheets/galeria.css">
<main class="holder">
        <div class="galeria">
            <div class="grid-gallery">
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (1).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (2).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (3).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (4).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (9).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (5).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (7).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (8).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (6).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (10).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (11).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (12).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (13).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (14).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (15).jpg" data-aos="zoom-in" >
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (16).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (17).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (18).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (19).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (28).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (21).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (22).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (29).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (24).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (25).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (26).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (27).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (20).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (23).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (30).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (31).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (32).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (33).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (34).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (35).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (36).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (37).jpg" data-aos="zoom-in">
                </a>
                <a class="grid-gallery__item" href="servicios.html">
                    <img class="grid-gallery__image" src="images/galeria/img (38).jpg" data-aos="zoom-in">
                </a>
            </div>
        </div>

    </main>

    
    <script> </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>