  <link rel="stylesheet" href="stylesheets/index.css">
  <main class="holder">
        <div class="servicio">
            <p>El bienestar de tus amigos a los mejores precios</p>
            <h3><a class="titulo" href="/nosotros">¡Veterinarios dedicados para tu mejor amigo!</a></h3>
            <p>Contamos con más de 10 años de experiencia. Nuestros profesionales estan totalmente capacitados y cuentan
                con la mejor tecnología hasta el momento para el bienestar de nuestros peludos</p>
            <a class="boton" href="/servicios">Nuestros Servicios</a>
        </div>

        <div>
            <div>
                <div class="insigneas">
                    <div class="insignea" data-aos="zoom-in">
                        <i class="fas fa-clock"></i>
                        <h5>Atención las 24hs</h5>
                        <p>Estamos abiertos y totalmente preparados para cualquier urgencia las 24hs, los 7 días de la
                            semana e incluso días festivos o feriados. Este servicio es exclusivamente para nuestros
                            pacientes y para la total tranquilidad de sus dueños.</p>
                    </div>
                    <div class="insignea" data-aos="zoom-in">
                        <i class="fas fa-user-md"></i>
                        <h5>Los mejores especialistas</h5>
                        <p>Nuestros especialistas fueron total y completamente seleccionados para cuidar la salud de
                            nuestros peludos. Por lo tanto, contamos con los profesionales más avanzados hasta la fecha
                            preparados para una perfecta atención.</p>
                    </div>
                    <div class="insignea" data-aos="zoom-in">
                        <i class="fas fa-hospital-alt"></i>
                        <h5>Instalaciones de primera</h5>
                        <p>Contamos con más de 5 instalaciones al rededor del país. Equipadas con las últimas
                            tecnologías que existen hasta el momento. En caso de viaje, vamos a poder recibir a tu
                            mascota en cualquier parte de la región.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="carusel">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/index/img (6).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images/index/img (7).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images/index/img (3).jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


    </main>

    
    <script> </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>