
<main class="holder">
        <h1 class="titulo">¿Quienes cuidamos de tus peludos?</h1>
        <p class="texto">Somos un team que fue creciendo día a día. Contamos con diferentes profesionales que harán de la vida de tu mejor amigo, lo mejor que exista. Somos un centro que cuenta con infinitas instalaciones. </p>
        
        <h1>Hospital</h1>

        
        <div class="container">
            <div class="card">
                <img src="images/nosotros/perros.jpg" alt="Mary" style="width:100%">
                <h1>Mary Dony</h1>
                <p class="title">Especialista en perros</p>
                <p>Controles, cirugías y examenes</p>
                <div style="margin: 24px 0;">
                    <a class="red" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="red" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="red" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a class="red" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></a></i>
                </div>
                <p><a href="https://web.whatsapp.com/" target=_blank><button>Contactar</button></a></p>
            </div>
            <div class="card">
                <img src="images/nosotros/gatos.jpg" alt="Robert" style="width:100%">
                <h1>Robert Anton</h1>
                <p class="title">Especialista en gatos</p>
                <p>Controles, cirugías y examenes</p>
                <div style="margin: 24px 0;">
                    <a class="red" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="red" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="red" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a class="red" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
                <p><a href="https://web.whatsapp.com/" target=_blank><button>Contactar</button></a></p>
            </div>
            <div class="card">
                <img src="images/nosotros/exotico.jpg" alt="John" style="width:100%">
                <h1>John Fishger</h1>
                <p class="title">Animales exoticos</p>
                <p>Controles, cirugías y examenes</p>
                <div style="margin: 24px 0;">
                   <a class="red" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="red" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="red" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a class="red" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
                <p><a href="https://web.whatsapp.com/" target=_blank><button>Contactar</button></a></p>
            </div>

        <h1>Cuidado personal</h1>

            <div class="card">
                <img src="images/nosotros/entrenadora.jpg" alt="Lish" style="width:100%">
                <h1>Lish Torres</h1>
                <p class="title">Entrenadora</p>
                <p>Educación y adiestración</p>
                <div style="margin: 24px 0;">
                   <a class="red" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="red" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="red" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a class="red" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
                <p><a href="https://web.whatsapp.com/" target=_blank><button>Contactar</button></a></p>
            </div>
            <div class="card">
                <img src="images/nosotros/paseador.jpg" alt="Diego" style="width:100%">
                <h1>Diego López</h1>
                <p class="title">Paseador</p>
                <p>Paseos cortos y largos</p>
                <div style="margin: 24px 0;">
                   <a class="red" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="red" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="red" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a class="red" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
                <p><a href="https://web.whatsapp.com/" target=_blank><button>Contactar</button></a></p>
            </div>
            <div class="card">
                <img src="images/nosotros/bañocorte.jpg" alt="Santino" style="width:100%">
                <h1>Santino Francis</h1>
                <p class="title">Baño y peluqueria</p>
                <p>Baño, recortes y peluqueria</p>
                <div style="margin: 24px 0;">
                   <a class="red" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="red" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="red" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a class="red" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
                <p><a href="https://web.whatsapp.com/" target=_blank><button>Contactar</button></a></p>
            </div>
            <div class="card">
                <img src="images/nosotros/guarderia.jpg" alt="Mia" style="width:100%">
                <h1>Mia Gómez</h1>
                <p class="title">Encargada de guarderia</p>
                <p>Cuidadora las 24hs</p>
                <div style="margin: 24px 0;">
                   <a class="red" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="red" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="red" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a class="red" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
                <p><a href="https://web.whatsapp.com/" target=_blank><button>Contactar</button></a></p>
            </div>

        <h1>Rescates</h1>

            <div class="card">
                <img src="images/nosotros/rescates1.jpg" alt="Nashira" style="width:100%">
                <h1>Nashira Aranda</h1>
                <p class="title">Rescates</p>
                <p>Transportes y rescates</p>
                <div style="margin: 24px 0;">
                   <a class="red" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="red" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="red" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a class="red" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
                <p><a href="https://web.whatsapp.com/" target=_blank><button>Contactar</button></a></p>
            </div>
            <div class="card">
                <img src="images/nosotros/rescates.jpg" alt="Emma" style="width:100%">
                <h1>Emma Valdés</h1>
                <p class="title">Rescates</p>
                <p>Cuidados post y pre adopción</p>
                <div style="margin: 24px 0;">
                   <a class="red" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="red" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a class="red" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a class="red" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
                <p><a href="https://web.whatsapp.com/" target=_blank><button>Contactar</button></a></p>
            </div>
        </div>
    </main>

    <link rel="stylesheet" href="stylesheets/nosotros.css">
    <script> </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
   