<link rel="stylesheet" href="stylesheets/servicios.css">
<main class="holder">
        <div class="service">
            <div class="container">
                <h1 class="titulo">Servicios</h1>
                <p class="texto">Contamos con diferentes servicios que fueron modificándose y mejorando a lo
                    largo de los años. Nuestros especialistas capacitados, brindan su profesionalismo en cada
                    uno de estos servicios, además de una asesoría privada en caso de ser necesaria.  </p>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="box">
                            <h4>Consultas</h4>
                            <p>Contamos con atención las 24hs del día, los siete días de la semana todo el año. Incluso
                                en fechas especiales y feriados.</p>
                            <img src="images/servicios/cosulta.jpg" alt="">
                            <p><a href="contacto.html" target=_blank><button>Sacar turno</button></a></p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="box">
                            <h4>Cirugía</h4>
                            <p>Tenemos las últimas adquisiciones en tecnología y nuestros profesionales estan preparados
                                para intervenir.</p>
                            <img src="images/servicios/operaciones.jpg" alt="">
                            <p><a href="contacto.html" target=_blank><button>Sacar turno</button></a></p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="box">
                            <h4>Animales Exóticos</h4>
                            <p>Además de tener medicos para perros y gatos, tambien tenemos especialistas para animales
                                exóticos. </p>
                            <img src="images/servicios/exotico.jpg" alt="">
                            <p><a href="contacto.html" target=_blank><button>Sacar turno</button></a></p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="box">
                            <h4>Adiestración</h4>
                            <p>Tenemos diferentes opciones de educación, ya sea de comportamiento, enseñanza o
                                cumplimiento de ordenes.</p>
                            <img src="images/servicios/educacion.jpg" alt="">
                            <p><a href="contacto.html" target=_blank><button>Sacar turno</button></a></p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="box">
                            <h4>Adopciones</h4>
                            <p>Nuestros rescates le dan la oportunidad a muchos animales de tener una segunda
                                oportunidad. ¡Adoptá!</p>
                            <img src="images/servicios/rescates.jpg" alt="">
                            <p><a href="adopciones.html" target=_blank><button>¿Queres adoptar?</button></a></p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="box">

                            <h4>Baño</h4>
                            <p>Contamos con servicio de baño, para así mantener la higiene de tu peludo lo más optima
                                posible.</p>
                            <img src="images/servicios/bano.jpg" alt="">
                            <p><a href="contacto.html" target=_blank><button>Sacar turno</button></a></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box">

                            <h4>Guarderia</h4>
                            <p>En caso de viaje o necesidad de reposo luego de una cirugía, contamos con una guarderia
                                con atención las 24hs.</p>
                            <img src="images/servicios/guarderia.jpg" alt="">
                            <p><a href="contacto.html" target=_blank><button>Sacar turno</button></a></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box">

                            <h4>Peluqueria</h4>
                            <p>Nuestros servicios de corte y peluquería, estan para tener a tu peludo más bonito de lo
                                que ya es.</p>
                            <img src="images/servicios/peluqueria.jpg" alt="">
                            <p><a href="contacto.html" target=_blank><button>Sacar turno</button></a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="box">
                            <h4>Paseos</h4>
                            <p>Los paseos son recomendados por todo veterinario, dejanos enseñarle el mundo a tus
                                peludos.</p>
                            <img src="images/servicios/paseos.jpg" alt="">
                            <p><a href="contacto.html" target=_blank><button>Sacar turno</button></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    
    <script> </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>